In [1]:
import pandas as pd
import numpy as np
import json
from datetime import datetime
import folium
import geopandas as gpd
import matplotlib.pyplot as plt

In [2]:
temperature_df = pd.read_csv("daily_temperature.csv")
temperature_df = temperature_df.drop(["STATION", "NAME", "TAVG", "TSUN", "WT02", 
                                      "WT03", "WT04", "WT05", "WT06", "WT08", "SNOW", "SNWD"], axis=1)

impression_df = pd.read_csv("breed_friendliness.csv")[["Breed", "Overall Score"]]

zip_nyc_df = pd.read_csv("nyc_zip_codes.csv")
zip_nyc_df["borough"] = zip_nyc_df["borough"].replace("Staten", "Staten Island")

bite_df = pd.read_csv("DOHMH_Dog_Bite_Data.csv")
bite_df = bite_df.drop(["UniqueID", "Species"], axis=1)
bite_df["Breed"] = bite_df["Breed"].str.lower()
bite_df["Age"] = bite_df["Age"].str.lower()
bite_df["DateOfBite"] = pd.to_datetime(bite_df["DateOfBite"], format="%B %d %Y", errors="coerce")
bite_df["Year"] = bite_df["DateOfBite"].dt.year
bite_df["Month"] = bite_df["DateOfBite"].dt.month
bite_df["DayOfMonth"] = bite_df["DateOfBite"].dt.day

license_df = pd.read_csv("NYC_Dog_Licensing_Dataset.csv", dtype={"AnimalBirthYear": str, "ZipCode": "Int64"})
license_df["AnimalBirthYear"] = pd.to_numeric(license_df["AnimalBirthYear"], errors="coerce").astype("Int64")
license_df = license_df.drop(['LicenseIssuedDate', 'LicenseExpiredDate', 'Extract Year'], axis=1)
license_df["BreedName"] = license_df["BreedName"].str.lower()
license_df["AnimalName"] = license_df["AnimalName"].str.lower()

## Investigate and clean license_df

In [3]:
print(license_df.shape)

# focus on dogs born before 2024 & after 1993
license_df = license_df[(license_df["AnimalBirthYear"] < 2024) & (license_df["AnimalBirthYear"] > 2023-30)]
print(license_df.shape)

# NYC
license_df = license_df[license_df["ZipCode"].isin(zip_nyc_df["zip"])]
print(license_df.shape)

# drop rows with missing AnimalGender (just a tiny-tiny proportion)
license_df = license_df.dropna(subset=["AnimalGender", "ZipCode"])
print(license_df.shape)

# drop duplicates (a dog would have been licensed multiple times between 2015 and 2023)
license_df = license_df.drop_duplicates().reset_index(drop=True)
print(license_df.shape)
license_df

(722864, 5)
(716796, 5)
(702791, 5)
(702770, 5)
(327098, 5)

,AnimalName,AnimalGender,AnimalBirthYear,BreedName,ZipCode
0,paige,F,2014,american pit bull mix / pit bull mix,10035
1,yogi,M,2010,boxer,10465
2,ali,M,2014,basenji,10013
3,queen,F,2013,akita crossbreed,10013
4,lola,F,2009,maltese,10028
...,...,...,...,...,...
327093,oliver,M,2022,yorkshire terrier,11360
327094,elle,F,2020,doberman pinscher,11377
327095,twiggy,F,2019,cockapoo,11222
327096,kyloren,M,2023,poodle,10031
327097,ezra,M,2022,labrador retriever crossbreed,11218

## Investigate and clean bite_df

In [4]:
print(np.min(bite_df["DateOfBite"]))
print(np.max(bite_df["DateOfBite"]))
print(bite_df.shape)

# NYC
bite_df = bite_df[bite_df["Borough"] != "Other"]
bite_df["ZipCode"] = bite_df["ZipCode"].apply(lambda x: x if pd.notna(x) and len(str(x)) == 5 else np.nan)
bite_df["ZipCode"] = pd.to_numeric(bite_df["ZipCode"], errors="coerce").astype("Int64")
bite_df = bite_df[
    bite_df["ZipCode"].isin(zip_nyc_df["zip"]) | bite_df["ZipCode"].isna()
].reset_index(drop=True)

print(bite_df.shape)
bite_df

2015-01-01 00:00:00
2023-12-31 00:00:00
(29992, 10)
(28282, 10)

,DateOfBite,Breed,Age,Gender,SpayNeuter,Borough,ZipCode,Year,Month,DayOfMonth
0,2018-01-01,unknown,NaN,U,False,Brooklyn,11220,2018,1,1
1,2018-01-04,unknown,NaN,U,False,Brooklyn,<NA>,2018,1,4
2,2018-01-06,pit bull,NaN,U,False,Brooklyn,11224,2018,1,6
3,2018-01-08,mixed/other,4,M,False,Brooklyn,11231,2018,1,8
4,2018-01-09,pit bull,NaN,U,False,Brooklyn,11224,2018,1,9
...,...,...,...,...,...,...,...,...,...,...
28277,2023-12-31,unknown,NaN,U,False,Staten Island,10314,2023,12,31
28278,2023-12-29,unknown,NaN,U,False,Staten Island,10306,2023,12,29
28279,2023-12-24,unknown,NaN,U,False,Staten Island,<NA>,2023,12,24
28280,2023-08-15,pit bull,NaN,U,False,Staten Island,<NA>,2023,8,15
28281,2023-12-23,pit bull,5,M,False,Staten Island,10314,2023,12,23

In [5]:
# missing values
print(bite_df.isna().sum())
print(np.sum(bite_df["Gender"] == "U"))
print(np.sum(bite_df["Breed"] == "unknown"))

DateOfBite        0
Breed          2128
Age           14726
Gender            0
SpayNeuter        0
Borough           0
ZipCode        8010
Year              0
Month             0
DayOfMonth        0
dtype: int64
13852
4417

## Create time series dataset (dog bite & temperature)

In [6]:
bite_time_df = bite_df[["DateOfBite", "Year", "Month", "DayOfMonth"]].value_counts().reset_index()
bite_time_df.columns = ["date_of_bite", "year", "month", "day_of_month", "number_of_bites"]

full_range = pd.date_range(start="2015-01-01", end="2023-12-31", freq="D")
missing_dates = full_range.difference(bite_time_df["date_of_bite"].dropna().unique())
missing_df = pd.DataFrame({
    "date_of_bite": missing_dates,
    "year": missing_dates.year,
    "month": missing_dates.month,
    "day_of_month": missing_dates.day,
    "number_of_bites": 0
})

bite_time_df = pd.concat([bite_time_df, missing_df], ignore_index=True)
bite_time_df = bite_time_df.sort_values("date_of_bite").reset_index(drop=True)

In [7]:
temperature_df.columns = ['date', 'precipitation', "temperature_max", "temperature_min", "foggy_or_not"]
temperature_df["date"] = pd.to_datetime(temperature_df["date"])
temperature_df["foggy_or_not"] = temperature_df["foggy_or_not"].fillna(0).astype(int)
temperature_df["temperature_avg"] = (temperature_df["temperature_max"] + temperature_df["temperature_min"]) / 2
print(temperature_df.isna().sum())
temperature_df

date               0
precipitation      0
temperature_max    0
temperature_min    0
foggy_or_not       0
temperature_avg    0
dtype: int64

,date,precipitation,temperature_max,temperature_min,foggy_or_not,temperature_avg
0,2015-01-01,0.00,39,27,0,33.0
1,2015-01-02,0.00,42,35,0,38.5
2,2015-01-03,0.71,42,33,1,37.5
3,2015-01-04,0.30,56,41,1,48.5
4,2015-01-05,0.00,49,21,0,35.0
...,...,...,...,...,...,...
3282,2023-12-27,0.32,50,45,1,47.5
3283,2023-12-28,1.22,55,49,1,52.0
3284,2023-12-29,0.05,55,46,1,50.5
3285,2023-12-30,0.00,46,39,0,42.5
3286,2023-12-31,0.00,43,39,0,41.0

In [8]:
time_df = bite_time_df.merge(temperature_df, how="left", left_on="date_of_bite", right_on="date").drop(columns=["date"])
time_df

,date_of_bite,year,month,day_of_month,number_of_bites,precipitation,temperature_max,temperature_min,foggy_or_not,temperature_avg
0,2015-01-01,2015,1,1,5,0.00,39,27,0,33.0
1,2015-01-02,2015,1,2,9,0.00,42,35,0,38.5
2,2015-01-03,2015,1,3,6,0.71,42,33,1,37.5
3,2015-01-04,2015,1,4,11,0.30,56,41,1,48.5
4,2015-01-05,2015,1,5,5,0.00,49,21,0,35.0
...,...,...,...,...,...,...,...,...,...,...
3282,2023-12-27,2023,12,27,7,0.32,50,45,1,47.5
3283,2023-12-28,2023,12,28,8,1.22,55,49,1,52.0
3284,2023-12-29,2023,12,29,12,0.05,55,46,1,50.5
3285,2023-12-30,2023,12,30,6,0.00,46,39,0,42.5
3286,2023-12-31,2023,12,31,8,0.00,43,39,0,41.0

In [9]:
time_df.to_csv("time_df.csv", index=False)

## Create age dataset (dog bite & dog count)

In [10]:
# clean Age
print(np.sum(~bite_df["Age"].isna()))

# months
age_map = {f"{i}m": i / 12 for i in range(1, 22)}
age_map.update({f"{i} m": i / 12 for i in range(1, 21)})
age_map.update({f"{i} mths": i / 12 for i in range(1, 23)})
age_map.update({f"{i}mths": i / 12 for i in range(1, 21)})
age_map.update({f"{i} mos": i / 12 for i in range(1, 21)})
age_map.update({f"{i}mo": i / 12 for i in range(1, 21)})
age_map.update({f"{i}mos": i / 12 for i in range(1, 21)})
age_map.update({f"{i} mons": i / 12 for i in range(1, 21)})

# years
age_map.update({f"{i}": i for i in range(1, 22)})
age_map.update({f"{i}y": i for i in range(1, 21)})
age_map.update({f"{i} yrs": i for i in range(1, 21)})
age_map.update({f"{i}yrs": i for i in range(1, 21)})

# weeks
age_map.update({f"{i}w": i / 52.14 for i in range(1, 21)})
age_map.update({f"{i}wks": i / 52.14 for i in range(1, 21)})
age_map.update({f"{i} wks": i / 52.14 for i in range(1, 21)})

# special cases
age_map.update({'2.5': 2.5, '1.5': 1.5, '3.5': 3.5, '4.5': 4.5, '3 1/2 yrs': 3.5, 
                '7-8m': 8 / 12, '4-6mos': 5 / 12, '2-3mos': 3 / 12, '2 mons.': 2 / 12,
                '11-12yrs': 12, '04m': 4 / 12, '1 1/2 yrs': 1.5, '1yr': 1, '4mth': 4 / 12,
                '7mth': 7 / 12, '2 1/2': 2.5, '1yr 8mons': 20 / 12, '1 yr 8 mon': 20 / 12,
                '1 y': 1, '6.5y': 6.5, '2-3yrs': 3, '2-3m': 3 / 12, '12wksks': 12 / 52.14,
                '8yrs & 8 m': 9, '2-3 yr': 3,'2-3 yrs': 3,'3yr': 3,'6.5 yrs': 6.5,
                '9wk': 9 / 52.14,'1 yr': 1,'3mth': 3 / 12,'15.5': 16,'5yr': 5,'2 mth': 2 / 12,
                '4 yrs 8 mo': 5,'3 yr': 3,'2yrs (male': 2,'6.5': 6.5,'10.5': 10.5,
                '6mth': 6 / 12,'13wk': 13 / 52.14
                })

bite_age_df = bite_df[bite_df["Age"].isin(age_map.keys())]
bite_age_df.loc[:, "Age"] = bite_age_df["Age"].map(age_map)
bite_age_df.loc[:, "Age"] = bite_age_df["Age"].apply(lambda x: 1 if x <= 1 else round(x))

# Get value counts
bite_age_df = bite_age_df["Age"].value_counts().reset_index()
bite_age_df.columns = ["age", "number_of_bites"]
bite_age_df = bite_age_df.sort_values("age").reset_index(drop=True)
total = np.sum(bite_age_df["number_of_bites"])
print(total)
bite_age_df["percentage_of_bites_in_total"] = (bite_age_df["number_of_bites"]/total)*100

13556
13505

In [11]:
# use 2023
dog_age_df = (2023 - license_df["AnimalBirthYear"]).apply(lambda x: 1 if x <= 1 else x).value_counts().reset_index()
dog_age_df.columns = ["age", "number_of_dogs"]
dog_age_df = dog_age_df.sort_values("age").reset_index(drop=True)
total = np.sum(dog_age_df["number_of_dogs"])
print(total)
dog_age_df["percentage_of_dogs_in_total"] = (dog_age_df["number_of_dogs"]/total)*100

327098

In [12]:
age_df = bite_age_df.merge(dog_age_df, how="left", on="age")
age_df["bite_versus_population_ratio"] = age_df["percentage_of_bites_in_total"]/age_df["percentage_of_dogs_in_total"]
age_df

,age,number_of_bites,percentage_of_bites_in_total,number_of_dogs,percentage_of_dogs_in_total,bite_versus_population_ratio
0,1,2786,20.629397,28482,8.707482,2.369157
1,2,2145,15.883006,22733,6.949905,2.285356
2,3,1887,13.972603,28636,8.754563,1.596037
3,4,1397,10.344317,23436,7.164825,1.443764
4,5,1228,9.092929,23678,7.238809,1.256136
5,6,962,7.123288,24111,7.371185,0.966369
6,7,761,5.634950,23600,7.214963,0.781009
7,8,668,4.946316,22131,6.765862,0.731070
8,9,440,3.258053,19576,5.984751,0.544392
9,10,411,3.043317,16291,4.980465,0.611051
10,11,255,1.888190,14585,4.458908,0.423465
11,12,211,1.562384,12916,3.948664,0.395674
12,13,160,1.184746,12417,3.796110,0.312095
13,14,91,0.673825,10902,3.332946,0.202171
14,15,61,0.451685,9514,2.908608,0.155292
15,16,26,0.192521,8220,2.513008,0.076610
16,17,10,0.074047,6771,2.070022,0.035771
17,19,3,0.022214,4281,1.308782,0.016973
18,20,2,0.014809,3372,1.030884,0.014366
19,21,1,0.007405,2311,0.706516,0.010481

In [13]:
age_df.to_csv("age_df.csv", index=False)

## Create breed dataset (dog bite & dog count)

In [14]:
dog_dict = {
    "Bernese Mountain Dog": ['bernese mountain', 'bernese mountain dog crossbreed'],
    "Pembroke Welsh Corgi": ['corgi', 'welsh corgi, pembroke', 'welsh/corgi', 
                             'pembroke welsh corgi', 'pembroke welsh corgi crossbreed'],
    "Golden Retriever": ['golden retriever', 'golden retriever crossbreed'],
    "Labrador Retriever": ['labrador retriever', 'labrador retriever crossbreed'],
    "Boxer": ['boxer', 'boxer crossbreed'],
    "Great Dane": ['great dane'],
    "Cavalier King Charles Spaniel": ['cavalier king charles spaniel', 'cavalier king charles spaniel crossbreed'],
    "Boston Terrier": ['boston terrier'],
    "French Bulldog": ['bull dog, french','french bull dog', 'french bulldog'],
    "Australian Shepherd": ['australian shepherd'],
    "Havanese": ['havanese'],
    "German Shorthaired Pointer": ['pointer', 'german shorthaired pointer', 'pointer, german shorthaired'],
    'Beagle': ['beagle', 'beagle crossbreed'],
    'Dachshund': ['dachshund smooth coat', 'dachshund, wirehaired', 'dachshund, long haired', 'dachshund'],
    'Miniature Schnauzer': ['schnauzer, miniature', 'miniature schnauzer'],
    'Pomeranian': ['pomeranian', 'pomeranian crossbreed'],
    'Siberian Husky': ['siberian husky', 'husky', 'siberian husky crossbreed'],
    'Poodle': ['poodle, toy', 'poodle, standard', 'poodle, miniature', 'poodle', 'toy poodle', 'poodle crossbreed'],
    'Yorkshire Terrier': ['yorkshire terrier', 'yorkshire terrier crossbreed'],
    'German Shepherd': ['german shepherd', 'german shepherd dog', 'german shepherd crossbreed'],
    'Shih Tzu': ['shih tzu', 'shih tzu crossbreed'],
    'Cane Corso': ['cane corso'],
    'Rottweiler': ['rottweiler'],
    'Doberman Pinscher': ['doberman pinscher'],
    'American Bulldog': ['pit bull', 'pitbull', 'american pit bull mix / pit bull mix', 'american bully',
                'american pit bull terrier/pit bull', 'bull dog', 'bulldog', 'bull terrier',
                'bull dog, american']
}

breed_df = pd.DataFrame(columns=["breed", "number_of_bites", "number_of_dogs"])

for breed in dog_dict.keys():
    bite_count = np.sum(bite_df["Breed"].isin(dog_dict[breed]))
    pop_count = np.sum(license_df["BreedName"].isin(dog_dict[breed]))
    breed_df.loc[len(breed_df)] = [breed, bite_count, pop_count]
    
bite_total = np.sum(breed_df["number_of_bites"])
print(bite_total)
breed_df["percentage_of_bites_in_total"] = (breed_df["number_of_bites"]/bite_total)*100
pop_total = np.sum(breed_df["number_of_dogs"])
breed_df["percentage_of_dogs_in_total"] = (breed_df["number_of_dogs"]/pop_total)*100
print(pop_total)
breed_df["bite_versus_population_ratio"] = breed_df["percentage_of_bites_in_total"]/breed_df["percentage_of_dogs_in_total"]

impression_df.columns = ['breed', 'friendliness_score']
breed_df = breed_df.merge(impression_df, how="left", on="breed")
ratio_min = np.min(breed_df["bite_versus_population_ratio"])
ratio_max = np.max(breed_df["bite_versus_population_ratio"])
breed_df["bite_score"] = (breed_df["bite_versus_population_ratio"]-ratio_min) / (ratio_max-ratio_min) * 100
breed_df["bite_score"] = breed_df["bite_score"].round(1)
breed_df["friendliness_score"] = breed_df["friendliness_score"].round(1)
breed_df["aggresiveness_score"] = (100 - breed_df["friendliness_score"]).round(1)

breed_df

12428
167120

,breed,number_of_bites,number_of_dogs,percentage_of_bites_in_total,percentage_of_dogs_in_total,bite_versus_population_ratio,friendliness_score,bite_score,aggresiveness_score
0,Bernese Mountain Dog,19,372,0.152881,0.222595,0.686812,100.0,13.0,0.0
1,Pembroke Welsh Corgi,79,2362,0.635661,1.413356,0.449753,94.9,8.4,5.1
2,Golden Retriever,173,4867,1.392018,2.912279,0.477982,94.9,8.9,5.1
3,Labrador Retriever,491,17514,3.950756,10.479895,0.376984,94.4,7.0,5.6
4,Boxer,126,2648,1.013840,1.584490,0.639852,76.4,12.1,23.6
5,Great Dane,50,406,0.402317,0.242939,1.656041,74.2,32.0,25.8
6,Cavalier King Charles Spaniel,7,4387,0.056324,2.625060,0.021456,68.5,0.0,31.5
7,Boston Terrier,68,2777,0.547152,1.661680,0.329276,62.4,6.0,37.6
8,French Bulldog,149,6719,1.198906,4.020464,0.298201,55.1,5.4,44.9
9,Australian Shepherd,97,3269,0.780496,1.956079,0.399010,53.4,7.4,46.6
10,Havanese,69,4588,0.555198,2.745333,0.202233,51.1,3.5,48.9
11,German Shorthaired Pointer,19,894,0.152881,0.534945,0.285788,48.9,5.2,51.1
12,Beagle,208,6924,1.673640,4.143131,0.403955,33.7,7.5,66.3
13,Dachshund,104,4453,0.836820,2.664552,0.314057,29.2,5.7,70.8
14,Miniature Schnauzer,39,3456,0.313808,2.067975,0.151746,28.6,2.5,71.4
15,Pomeranian,140,7666,1.126489,4.587123,0.245576,28.1,4.4,71.9
16,Siberian Husky,503,4452,4.047313,2.663954,1.519288,23.0,29.3,77.0
17,Poodle,462,18655,3.717412,11.162638,0.333023,16.8,6.1,83.2
18,Yorkshire Terrier,621,21112,4.996781,12.632839,0.395539,15.7,7.3,84.3
19,German Shepherd,875,7295,7.040554,4.365127,1.612909,11.8,31.1,88.2
20,Shih Tzu,825,22268,6.638236,13.324557,0.498196,9.0,9.3,91.0
21,Cane Corso,88,597,0.708079,0.357228,1.982145,8.4,38.3,91.6
22,Rottweiler,412,1207,3.315095,0.722236,4.590047,8.4,89.3,91.6
23,Doberman Pinscher,94,665,0.756357,0.397918,1.900787,2.2,36.7,97.8
24,American Bulldog,6710,17567,53.990988,10.511608,5.136320,NaN,100.0,NaN

In [15]:
breed_df.to_csv("breed_df.csv", index=False)

## Create 'gender' x 'Spay & Neuter status' dataset (dog bite & dog count)

In [16]:
# according to the American Veterinary Medical Association,
# 69.1 percent of pet dogs are spayed or neutered in the US 
# (https://www.avma.org/javma-news/2019-01-15/pet-ownership-stable-veterinary-care-variable)

gender_spay_df = pd.DataFrame({
    "gender": ["F", "F", "M", "M"],
    "spayed_or_neutered": [True, False, True, False],
    "number_of_bites": [np.sum((bite_df["Gender"] == "F") & (bite_df["SpayNeuter"])),
                        np.sum((bite_df["Gender"] == "F") & (~bite_df["SpayNeuter"])),
                        np.sum((bite_df["Gender"] == "M") & (bite_df["SpayNeuter"])),
                        np.sum((bite_df["Gender"] == "M") & (~bite_df["SpayNeuter"]))
                        ],
    "number_of_dogs": [round(np.sum(license_df["AnimalGender"] == "F")*0.691),
                       round(np.sum(license_df["AnimalGender"] == "F")*(1-0.691)),
                       round(np.sum(license_df["AnimalGender"] == "M")*0.691),
                       round(np.sum(license_df["AnimalGender"] == "M")*(1-0.691))
    ]
})

In [17]:
bite_total = np.sum(gender_spay_df["number_of_bites"])
print(bite_total)
gender_spay_df["percentage_of_bites_in_total"] = gender_spay_df["number_of_bites"]/bite_total*100

dog_total = np.sum(gender_spay_df["number_of_dogs"])
print(dog_total)
gender_spay_df["percentage_of_dogs_in_total"] = gender_spay_df["number_of_dogs"]/dog_total*100

gender_spay_df["bite_versus_population_ratio"] = gender_spay_df["percentage_of_bites_in_total"]/gender_spay_df["percentage_of_dogs_in_total"]
gender_spay_df

14430
327098

,gender,spayed_or_neutered,number_of_bites,number_of_dogs,percentage_of_bites_in_total,percentage_of_dogs_in_total,bite_versus_population_ratio
0,F,True,1897,101980,13.146223,31.177201,0.421661
1,F,False,2091,45603,14.490644,13.941693,1.039375
2,M,True,4570,124045,31.670132,37.922885,0.835119
3,M,False,5872,55470,40.693001,16.958220,2.399603

In [18]:
gender_spay_df.to_csv("gender_spay_df.csv", index=False)

## Create spatial dataset (dog bite & dog count)

In [19]:
bite_zip_df = bite_df["ZipCode"].value_counts().reset_index()
bite_zip_df.columns = ["zip_code", "number_of_bites"]

dog_zip_df = license_df["ZipCode"].value_counts().reset_index()
dog_zip_df.columns = ["zip_code", "number_of_dogs"]

zip_df = dog_zip_df.merge(bite_zip_df, how="left", on="zip_code")
zip_df["number_of_bites"] = zip_df["number_of_bites"].fillna(0).astype("Int64")

zip_df = zip_df.merge(zip_nyc_df, how="left", left_on="zip_code", right_on="zip")

zip_df = zip_df[["borough", "zip_code", "number_of_bites", "number_of_dogs"]]

bite_total = np.sum(zip_df["number_of_bites"])
print(bite_total)
zip_df["percentage_of_bites_in_total"] = zip_df["number_of_bites"]/bite_total*100

dog_total = np.sum(zip_df["number_of_dogs"])
print(dog_total)
zip_df["percentage_of_dogs_in_total"] = zip_df["number_of_dogs"]/dog_total*100

zip_df["bite_versus_population_ratio"] = zip_df["percentage_of_bites_in_total"]/zip_df["percentage_of_dogs_in_total"]
zip_df

20271
327098

,borough,zip_code,number_of_bites,number_of_dogs,percentage_of_bites_in_total,percentage_of_dogs_in_total,bite_versus_population_ratio
0,Manhattan,10025,213,6920,1.050762,2.115574,0.496679
1,Brooklyn,11201,153,6171,0.754773,1.886591,0.400072
2,Manhattan,10023,134,5781,0.661043,1.76736,0.374028
3,Manhattan,10009,151,5674,0.744907,1.734648,0.429428
4,Brooklyn,11215,180,5548,0.887968,1.696128,0.523527
...,...,...,...,...,...,...,...
204,Manhattan,10123,0,1,0.0,0.000306,0.0
205,Brooklyn,11242,0,1,0.0,0.000306,0.0
206,Manhattan,10153,0,1,0.0,0.000306,0.0
207,Manhattan,10155,0,1,0.0,0.000306,0.0
208,Queens,11371,3,1,0.014799,0.000306,48.408761

In [20]:
popular_breed_list = []
for lst in dog_dict.values():
    popular_breed_list.extend(lst)
popular_breed_list

bite_df_breed_subset = bite_df[bite_df["Breed"].isin(popular_breed_list)]
dog_df_breed_subset = license_df[license_df["BreedName"].isin(popular_breed_list)]

breed_to_key = {}
for key, breed_list in dog_dict.items():
    for breed in breed_list:
        breed_to_key[breed] = key

bite_df_breed_subset.loc[:, "Breed"] = bite_df_breed_subset["Breed"].map(breed_to_key)
dog_df_breed_subset.loc[:, "BreedName"] = dog_df_breed_subset["BreedName"].map(breed_to_key)

bite_df_breed_grouped = bite_df_breed_subset[["ZipCode", "Breed"]].value_counts().reset_index()
bite_df_top_breed_per_zip = (
    bite_df_breed_grouped
    .sort_values(["ZipCode", "count"], ascending=[True, False])
    .drop_duplicates(subset=["ZipCode"], keep="first")
    .reset_index(drop=True)
)

dog_df_breed_grouped = dog_df_breed_subset[["ZipCode", "BreedName"]].value_counts().reset_index()
dog_df_breed_grouped = bite_df_breed_grouped.merge(dog_df_breed_grouped, 
                                                   left_on=["ZipCode", "Breed"], 
                                                   right_on=["ZipCode", "BreedName"], 
                                                   how="left")
dog_df_breed_grouped["bite_ratio"] = dog_df_breed_grouped["count_x"] / dog_df_breed_grouped["count_y"]
bite_df_top_breed_per_zip2 = (
    dog_df_breed_grouped
    .sort_values(["ZipCode", "bite_ratio"], ascending=[True, False])
    .drop_duplicates(subset=["ZipCode"], keep="first")
    .reset_index(drop=True)
)

del bite_df_top_breed_per_zip['count']
bite_df_top_breed_per_zip.columns = ["zip_code", "top_biter_by_number_of_bites"]

bite_df_top_breed_per_zip2 = bite_df_top_breed_per_zip2[["ZipCode", "Breed"]]
bite_df_top_breed_per_zip2.columns = ["zip_code", "top_biter_by_bite_ratio"]

zip_df = zip_df.merge(bite_df_top_breed_per_zip, on="zip_code", how="left")
zip_df = zip_df.merge(bite_df_top_breed_per_zip2, on="zip_code", how="left")
zip_df

,borough,zip_code,number_of_bites,number_of_dogs,percentage_of_bites_in_total,percentage_of_dogs_in_total,bite_versus_population_ratio,top_biter_by_number_of_bites,top_biter_by_bite_ratio
0,Manhattan,10025,213,6920,1.050762,2.115574,0.496679,American Bulldog,American Bulldog
1,Brooklyn,11201,153,6171,0.754773,1.886591,0.400072,American Bulldog,American Bulldog
2,Manhattan,10023,134,5781,0.661043,1.76736,0.374028,American Bulldog,American Bulldog
3,Manhattan,10009,151,5674,0.744907,1.734648,0.429428,American Bulldog,American Bulldog
4,Brooklyn,11215,180,5548,0.887968,1.696128,0.523527,American Bulldog,American Bulldog
...,...,...,...,...,...,...,...,...,...
204,Manhattan,10123,0,1,0.0,0.000306,0.0,NaN,NaN
205,Brooklyn,11242,0,1,0.0,0.000306,0.0,NaN,NaN
206,Manhattan,10153,0,1,0.0,0.000306,0.0,NaN,NaN
207,Manhattan,10155,0,1,0.0,0.000306,0.0,NaN,NaN
208,Queens,11371,3,1,0.014799,0.000306,48.408761,American Bulldog,American Bulldog

In [21]:
zip_df.to_csv("zip_df.csv", index=False)